if SHIELD_RAIDHOPAD

config ZMK_KEYBOARD_NAME
    default "Raidhopad"

if ZMK_USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

endif